celery==4.4.7
Django==2.2.6
django-celery-beat==2.2.0
django-celery-results==1.2.1
django-cors-headers==3.2.1
django-filter==2.0.0
django-mysql==3.8.1
django-timezone-field==4.2.3
djangorestframework==3.8.1
eventlet==0.33.0
greenlet==1.1.2
Mako==1.1.6
MarkupSafe==2.0.1
mysqlclient==1.4.4
python-dateutil==2.8.2
PyYAML==6.0
redis==3.5.3
redis-py-cluster==2.1.0
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.0.1
ujson==4.1.0
urllib3==1.26.8
Werkzeug==1.0.1
djangorestframework-jwt==1.11.0
sqlalchemy==1.4.23
pymysql==1.0.2
django-redis==5.2.0